

@media(max-width: 980px){
   /*menu*/
   .menu-content-wrap{
     flex-direction: column;
     padding-left: 0;
 }
   .menu-content{
      margin: 5px auto;
 }
  /*content1*/
   .content1-wrap{
      flex-direction: column;
 }
   .left{
      width: 100%;
 } 
   .content1-title{
      font-size: 25px;
      margin-top: 8%;
 }
   .content1-tx{
      font-size: 15px;
 }

   .right{
      display: none;
 }
   /*content2*/
   .img-lookbook-wrap{
      padding:0 2%;   
 }

  /*content3*/
   .image{
      width: 150px;
      height: 148px;
      padding: 0;   
 }
   .content-images{
      flex-wrap: wrap;
      width: 340px;
      margin: 0 auto;
 }
   .whoweare{
      margin-right: 0;
 }
   .showroom{
      margin-left: 0;
 }
   .jobs{
      margin-right: 0;
 }
   .news{
      margin-left: 0;
 }
   
   /*onlineshop*/
   .onlineshop{
      width: 300px;
      margin-top: 2%;
 }
    
}



